@page "/"
@page "/connexion"
@layout InscriptionLayout
@inject NavigationManager NavManager

    <div class="option">
    <h1>@Localizer["Title"]</h1>
        <div>
             <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginRequest">
                <DataAnnotationsValidator />

                <label for="inputUsername" class="sr-only">Pseudonyme</label>
            <InputText id="inputUsername" class="form-control" @bind-Value="loginRequest.UserName" autofocus placeholder="@Localizer["pseudo"]" />
                <ValidationMessage For="@(() => loginRequest.UserName)" />

                 <br />
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <InputText type="password" id="inputPassword" class="form-control" placeholder="@Localizer["mdp"]" @bind-Value="loginRequest.Password" />
                <ValidationMessage For="@(() => loginRequest.Password)" />

                 <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["Enter"]</button>

                <br />
                <label class="text-danger">@error</label>
                <NavLink href="inscription">
                <h6 class="font-weight-normal text-center" style="color: white">@Localizer["Create"]</h6>
                </NavLink>
        </EditForm>
        </div> 
    </div>
    <object>
        <param name="autostart" value="true">
        <param name="src" value="../audio/audio.mp3">
        <param name="autoplay" value="true"> 
        <embed src="../audio/audio.mp3" controller="true" autoplay="true" autostart="True" type="audio/mp3" />
    </object>