@page "/"
@using System.Globalization

<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>
<PageTitle>Index</PageTitle>


<h3>@Localizer["Opening"]</h3>
<h1>Hello, world!</h1>

<br />

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name !!</h1>

        <p>Welcome to Blazor Learner.</p>
        
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>

    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
    <NotAuthorized>
        <h1>Echec de la connexion!</h1>
        <p>Vous n'etes pas connecté</p>
    </NotAuthorized>
</AuthorizeView>
