<div class="topbar">
    <nav class="navbar navbar-expand-md mb-4">
        <div class="container-fluid bar">
            <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
                <ul class="navbar-nav me-auto mb-0 mb-md-0 topbar_content" >
                    <li class="nav-item">
                        <NavLink class="nav-link" href="tabledecraft">
                            <span class="topbar_item">
                                <img src="/Images/inventory_icon.png" class="topbar_itemimg"/> @Localizer["Inventory"]
                            </span>
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="shop">
                            <span class="topbar_item">
                                <img src="/Images/shop_icon.png" class="topbar_itemimg"/> @Localizer["Shop"]
                            </span>
                        </NavLink>
                    </li>
                    <a class="img_wrap" href="/index">
                        <img class="nav-image" src="Images/CraftSharp-Logo.png" alt="Logo Application"/>
                        <img class="nav-image" src="/Images/@(Localizer["subtext-img"]).png" width="70%" />
                    </a>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="opening">
                            <span class="topbar_item">
                                <img src="/Images/opening_icon.png" class="topbar_itemimg"/> @Localizer["Opening"]
                            </span>
                        </NavLink>
                    </li>
                    @if (isUserAdmin)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="list">
                                <span class="topbar_item">
                                    <img src="/Images/admin_icon.png" class="topbar_itemimg" /> Admin
                                </span>
                            </NavLink>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <span class="topbar_item" style="visibility: hidden">
                            </span>
                        </li>
                    }
                </ul>
            </div>
            <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
        </div>
    </nav>
</div>



@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}