@using CraftSharp.Models;

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(CraftLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                    <LayoutView Layout="@typeof(ErrorLayout)">
                    <div style="width: 100%;">
                        <br /><br />
                        <strong>Oups, la page que à laquelle vous essayez d'accéder n'existe pas !</strong>
                        <br /><br />
                    </div>
                    </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingBlazoredModal>
